/*Neal Shah
Professor Krieglstein
9-25-2018
Project 1 CSS Page */






/* Starting my personal Code */

h1 {
  color: purple;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  padding-bottom: 25px;
}
h2{
  color: purple;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  padding-bottom: 25px;
  margin-top: 20px;
}
form{
  text-align: left;
  margin-left: 160px;
}

.field{
  padding-bottom: 25px;
  font-size: 30px;
}

body{

  background-image: url("../IMG/background2.jpg");

}

p{
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
  color: purple;

}
label{
  color: purple;
  font-size: 20px;
}

.rapper{
  background-color: turquoise;
  margin: 10% 25%;
  border-radius: 25px;
  padding: 2%;
}
input{
  height: 20px;
  font-size: 15px;
  text-align: left;
  float: right;
  margin-right: 100px;
}

#submitBtn{
  margin-right: 52%;
}

/*Display 3 per row for medium displays (like mobile phones in landscape or smaller tablets)*/
@media screen and (max-width: 1024px) and (min-width: 320px) {
  h1{
    font-size: 20px !important;

  }
  input{
    text-align: center;
    float: none;
    margin: 0;
  }
  form{
    text-align: center;
    margin: 0;
  }
  .rapper{
    margin: 15% 0;
    border-radius: 0px;
  }
  #submitBtn{
    background-color: white;
    margin-left: 50%;
  }
}
/*Display 6 to a row for large displays (like medium tablets and up) */
@media screen and (min-width: 768px) {
  h1{
    font-size: 27px !important;
    margin: 10px;
  }
}
