/*Neal Shah
Professor Krieglstein
9-25-2018
Project 1 CSS Page */






/* Starting my personal Code */

h1 {
  color: orange;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
  padding-bottom: 25px;
}
form{
  text-align: center;
}

.field{
  padding-bottom: 25px;
  font-size: 30px;
}

body{

  background-image: url("../IMG/Background1.jpg");

}

p{
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
  color: red;

}



/*Display 3 per row for medium displays (like mobile phones in landscape or smaller tablets)*/
@media screen and (min-width: 320px) {
  h1{
    font-size: 20px !important;

  }

}
/*Display 6 to a row for large displays (like medium tablets and up) */
@media screen and (min-width: 768px) {
  h1{
    font-size: 30px !important;
    margin: 10px;
  }
}
